@using DataLibrary.Models
@model DataLibrary.Models.ExamModel
<link rel="stylesheet" href="~/css/IDashBoard.css" />
<script>
</script>

@{
    ViewData["Title"] = "My Classrooms";
    var classes = (IEnumerable<ClassModel>)ViewData["ClassList"];
}


@*<div class="">
    <a class="page-link" asp-controller="Instructor" asp-action="CreateClass">Create a new classroom</a>
    <button class="btn btn-dark" data-toggle="modal" data-target="#addClassModal">Create a new classroom</button>
    <button data-target="#testNameModal" href="#" data-toggle="modal" 
       class="btn btn-secondary">
        Create Exam
    </button>
    <a class="nav-link" asp-controller="Instructor" asp-action="ExamCreation">Create Exam</a>
</div>*@
<div class="sidenav">

    <button data-target="#testNameModal" href="#" data-toggle="modal" 
       class="btn btn-success">
        <i class="fa fa-file-text-o" aria-hidden="true">Create New Document </i>
    </button>


	<hr />

	<button type="button" class="btn btn-primary" id="showClasses" 
            onclick="showClasses();">
	<i class="fa fa-address-book-o" aria-hidden="true"></i>My Courses</button>

	<button type="button" class="btn btn-primary">
	<i class="fa fa-search" aria-hidden="true"></i>Search Documents</button>

	<button type="button" class="btn btn-primary">
	<i class="fa fa-download" aria-hidden="true"></i>Import File</button>

    <button class="btn btn-primary" data-toggle="modal" 
            data-target="#addClassModal">
    <i class="fa fa-download" aria-hidden="true"></i>Create New Class</button>

</div>

<div class="center" id="centerDiv" style="display:none">
    <h3>My Classrooms</h3>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayName("Class Subject")
                </th>
                <th scope="col">
                    @Html.DisplayName("Class Name")    
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in classes)
            {
                <tr>
                    <th scope="row" class="" width="200">
                        @Html.DisplayName(item.classSubject)
                    </th>
                    <td width="700">
                        <a asp-action="ClassTests" asp-controller="Instructor" 
                           asp-route-classId="@item.classID" asp-route-className="@item.className">
                            @item.className
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!--
        This is the modal menu which holds a form to 
        either ADD a test to db. Will redirect to ExamCreation
        page.
    -->
<div class="modal fade" id="testNameModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title col-4" id="modalLabel">Type in a name for a new exam</h4>
                <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <form asp-action="CreateExamAJAX" asp-controller="Instructor"
                  data-ajax="true"
                  data-ajax-method="POST"
                  data-ajax-mode="replace"
                  data-ajax-update="#ajaxresult">
                <div class="modal-body">
                    <div id="ajaxresult">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label for="name">Class Name</label>
                            <input type="text" class="form-control" asp-for="testTitle"
                                   id="testTileId" aria-describedby="nameHelp"
                                   placeholder="Enter exam name">
                            <span asp-validation-for="testTitle" class="text-danger"></span>
                        </div>

                        <select asp-for="classID">
                            @foreach(var item in classes)
                            {
                                <option value="@item.classID">@item.className</option>
                            }

                        </select>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--
        This is the modal menu which holds a form to 
        either ADD a classroom
    -->
<div class="modal fade" id="addClassModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-4" id="modalLabel">Type in a name for a new classroom</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <partial name="_CreateClassPartial"/>
        </div>
        
    </div>
</div>
